.todo-container
  padding-top: 30px
  padding-bottom: 30px
  position: relative

  &__title
    font-size: 24px
    text-transform: uppercase
    font-weight: 600
    text-align: center
    color: #333
    margin-bottom: 12px
    font-family: 'Roboto', sans-serif

  &__body
    box-shadow: 0 7px 6px rgba(black, .012)
    border: 1px solid #f3f3f4
    max-width: 700px
    margin: 0 auto
    border-radius: 4px
    background-color: #f9f9f9
    padding: 15px 12px
    display: flex
    flex-direction: column
    position: relative

  &__header
    position: relative
    display: flex
    align-items: center

  &__check-all
    margin-right: 20px
    margin-left: 22px

  &__input
    flex-grow: 1

  &__list
    margin-top: 12px
    margin-bottom: 24px

  &__footer
    margin-top: auto
    display: flex
    height: 44px
    display: flex
    align-items: center
    

  &__filters
    margin-left: auto
    margin-right: auto

  &__filter
    font-size: 24px
    background-color: #f1f1f1
    border-radius: 4px
    padding: 5px 10px

    &:not(:last-child)
      margin-right: 5px

  &__count
    position: absolute
    bottom: 26px
    left: 15px

  &__clear
    font-size: 16px
    cursor: pointer
    font-family: 'Roboto', sans-serif
    font-weight: 500
    position: absolute
    bottom: 26px
    right: 15px
    &:hover
      text-decoration: underline
  
